body{
	background-image: url("prueba.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: arial, verdana, sans-serif;
}
label{
	font-size: 25px;
	color :#2b3737
}
.container{
  background-color: rgba(228, 169, 46, 0.72);
	border-radius: 7.5%;
	width: 400px;
	height: 800px;
	position: absolute;
	top: 18%;
	left: 45.5%;
	margin-top: -100px;
	margin-left: -125px;
}
.centralbox{
  align: center;
  margin-top: 10%;
  margin-left: 20%;
  }
.boxes{
	margin: .3em 47px;
}
input[name="register"] {
    padding:10px 25px;
    background:#9b9b9b;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 7px;
    position: absolute;
		top: 55%;
		left: 60%;
		margin-top: 75%;
		margin-left: -23%;
		width: 120px;
}

.in{
	height: 30px;
}

input{
    padding:5px;
    border:2px solid #7eb9dc;
    -webkit-border-radius: 5px;
    border-radius: 7px;
}
